.info_popup{
        padding-bottom: 15px;
        background: #FFF;
        border: 1px solid #dadadc;
        position: absolute;
        border-radius: 5px;
        @include box-shadow( 0 1px 3px rgba(0,0,0,.2));
        &:after{
            display: block;
            content: '';
            width: 8px;
            height: 14px;
            background: url('/images/info_pointer.png') no-repeat center;
            position: absolute;
            top: 50%;
            margin-top: -7px;
            left: 100%;
        }
        th{
            color: #231f20;
            font-size: 14px;
            font-weight: 500;
            border-bottom: 1px solid #dadadc;
            padding:10px 0px 10px 15px;
        }
        td{
            color: #666;
            font-size: 12px;
            padding: 15px 0 0 15px;
            &:last-of-type{
                padding-right: 15px;
            }
        }
    }